@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
.word_fill .placeholder, .keyboard_letter {
  padding: 1rem;
  margin: .5rem;
  border-radius: 5px; }

.hidden {
  display: none; }

.found {
  background-color: lightgreen !important; }

.notFound {
  background-color: #e95453 !important; }

.letterFound {
  background-color: lightgreen !important; }

.complete {
  background-color: lightgreen;
  font-size: 4rem;
  border-radius: 5px;
  padding: 1rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif; }

ul {
  list-style: none; }

.greeting {
  background-color: #4a2b58;
  width: 100%;
  height: 100vh;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  flex-direction: column; }
  .greeting .message {
    margin: 7rem 0;
    font-size: 2rem; }
    @media (min-width: 769px) {
      .greeting .message {
        font-size: 5rem; } }
  .greeting button {
    padding: 2rem;
    border: none;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: #e3b558;
    margin: 0 1rem;
    margin-bottom: auto;
    border-radius: 5px;
    border-right: 2px solid #8b6517;
    border-bottom: 2px solid #8b6517;
    transition: .2s;
    cursor: pointer; }
    .greeting button:active {
      outline: none;
      border: none; }
    .greeting button:focus {
      outline: none; }
    @media (min-width: 769px) {
      .greeting button {
        width: 10rem;
        height: 5rem;
        font-size: 1rem;
        padding: .5rem;
        margin: 0 auto;
        margin-bottom: auto; } }
  @media (min-width: 769px) {
    .greeting {
      justify-content: center; } }

.game {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; }
  .game .heading {
    font-size: 2.2rem;
    color: #4a3c52;
    margin-bottom: 4rem;
    margin-top: 2rem; }
    @media (min-width: 768px) {
      .game .heading {
        font-size: 5rem;
        margin-bottom: 5rem; } }
  .game .hearts ul {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem; }
    .game .hearts ul img {
      width: 4rem;
      margin-left: .5rem;
      margin-bottom: 1rem; }
      @media (min-width: 769px) {
        .game .hearts ul img {
          margin-bottom: 2rem; } }
  @media (min-width: 769px) {
    .game {
      justify-content: flex-start; } }

.word-board {
  margin-bottom: auto; }

.word_fill {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .word_fill .placeholder {
    background-color: #cdd0ce; }
    @media (min-width: 769px) {
      .word_fill .placeholder {
        font-size: 2rem;
        width: 4rem;
        height: 4rem; } }

.keyboard {
  display: flex;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 769px) {
    .keyboard {
      max-width: 500px;
      margin: 5rem auto; } }
  .keyboard_letter {
    background-color: #eee;
    cursor: pointer; }

.lost {
  background-color: #e95453;
  color: #fff;
  height: 100vh; }
