$color-primary: #4a2b58;
$color-secondary: #4a3c52;
$color-tritary: #cdd0ce;
$color-dark: #eee;
$color-btn-start: #e3b558;
$color-white: #fff;

$color-btn-start-dark: darken($color-btn-start, 30%);

// extends
%placer{
    padding: 1rem;
    margin: .5rem;
    border-radius: 5px;
}