.hidden{
    display: none;
}

.found {
    background-color: $color-right !important;
}
.notFound{
    background-color: $color-wrong !important;
}

.letterFound{
    background-color: $color-right !important;
}

.complete{
    background-color: $color-right;
    font-size: 4rem;
    border-radius: 5px;
    padding: 1rem;
}