.hidden{
    display: none;
}

.found {
    background-color: lightgreen !important;
}
.notFound{
    background-color: rgb(221, 101, 101) !important;
}

.letterFound{
    background-color: lightgreen !important;
}

.complete{
    background-color: lightgreen;
    font-size: 4rem;
    border-radius: 5px;
    padding: 1rem;
}