.greeting{
    background-color: $color-primary;
    width: 100%;
    height: 100vh;
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    .start-message{
        margin: 7rem 0;
        font-size: 2rem;
        @media (min-width: 769px){
            font-size: 5rem;
            
        }
    }

    button{
        padding: 2rem;
        border: none;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        color: $color-white;
        background-color: $color-btn-start;
        margin: 0 1rem;
        margin-bottom: auto;
        border-radius: 5px;
        border-right: 2px solid $color-btn-start-dark;
        border-bottom: 2px solid $color-btn-start-dark;
        transition: .2s;
        cursor: pointer;

        &:active{
            outline: none;
            border: none; 
        }
        &:focus{
            outline: none;
        }

        @media (min-width: 769px){
            width: 10rem;
            height: 5rem;
            font-size: 1rem;
            padding: .5rem;
            margin: 0 auto;
            margin-bottom: auto;
        }
    }

    @media (min-width: 769px){
        justify-content: center;
    }
}

.game {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    .heading{
        font-size: 2.2rem;
        color: $color-secondary;
        margin-bottom: 5rem;
        margin-top: 2rem;
        @media (min-width: 768px){
            font-size: 5rem;
            margin-bottom: 10rem;
        }
    }

    @media (min-width: 769px){
        justify-content: flex-start;
    }
}

.word-board{
    margin-bottom: auto;
}

.word__fill{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .placeholder{
        @extend %placer;
        background-color: $color-tritary;
        @media (min-width: 769px){
            font-size: 2rem;
        }
    }
}

.keyboard{
    display: flex;
    margin-bottom: 5rem;
    flex-wrap: wrap;
    justify-content: center;
    @media(min-width: 769px){
        margin-bottom: 15rem;
        max-width: 500px;
        margin: 5rem auto;
    }
    &_letter{
        @extend %placer;
        background-color: $color-dark;
    }
}

