.message-board{
    background-color: $color-primary;
    width: 100%;
    height: 100vh;
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    .message{
        margin: 7rem 0;
        font-size: 2rem;
        @media (min-width: 769px){
            font-size: 5rem;
            
        }
    }

    button{
        padding: 2rem;
        border: none;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        color: $color-white;
        background-color: $color-btn-start;
        margin: 0 1rem;
        margin-bottom: auto;
        border-radius: 5px;
        border-right: 2px solid $color-btn-start-dark;
        border-bottom: 2px solid $color-btn-start-dark;
        transition: .2s;
        cursor: pointer;

        &:active{
            outline: none;
            border: none; 
        }
        &:focus{
            outline: none;
        }

        @media (min-width: 769px){
            width: 10rem;
            height: 5rem;
            font-size: 1rem;
            padding: .5rem;
            margin: 0 auto;
            margin-bottom: auto;
        }
    }

    @media (min-width: 769px){
        justify-content: center;
    }

    p{
        font-size: 3rem;
        margin-bottom: auto;
    }
}

.game {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    .heading{
        font-size: 2.2rem;
        color: $color-secondary;
        margin-bottom: 4rem;
        margin-top: 2rem;
        @media (min-width: 768px){
            font-size: 5rem;
            margin-bottom: 5rem;
        }
    }

    .hearts{
        ul{
            display: flex;
            justify-content: center;
            padding-bottom: 1rem;
            img{
                width: 4rem;
                margin-left: .5rem;
                margin-bottom: 1rem;
                @media(min-width: 769px){
                    margin-bottom: 2rem;
                }
            }
        }
    }

    @media (min-width: 769px){
        justify-content: flex-start;
    }
}

.word-board{
    margin-bottom: auto;
    .another{
        padding: 1rem;
        border-radius: 5px;
        border: none;
        text-transform: uppercase;
        background-color: $color-another;
        color: $color-white;
        margin: 1rem 0;
        cursor: pointer;
        &:focus{
            outline: none;
        }

        &:hover{
            background-color: $color-another-light;
        }
    }
}

.word_fill{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .placeholder{
        @extend %placer;
        background-color: $color-tritary;
        @media (min-width: 769px){
            font-size: 2rem;
            width: 4rem;
            height: 4rem;
        }
    }
}

.keyboard{
    display: flex;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    @media(min-width: 769px){
        max-width: 700px;
        margin: 5rem auto;
    }
    &_letter{
        @extend %placer;
        background-color: $color-dark;
        cursor: pointer;
        @media (min-width: 769px){
            // width: 3rem;
        }
    }
}






